body.blog {
    .post-list {
        .post {
            h2 {
                a {
                    color: $gray-700;
                }
                a:hover {
                    text-decoration: none;
                    color: $gray-600;
                }
            }
            .post-meta {
                color: $gray-600;
                font-style: italic;
            }
            .teaser {
                @extend .lead;
            }
            .more {
                text-align: right;
            }
            border: 0.1em solid white;
            box-shadow: 0 1px 4px rgba(0,0,0,0.3);
            border-radius: 1em;
            margin: 1em;
            padding: 0.8em;
        }
    }
    .post-detail {
        h1, h2 {
            color: $gray-700;
        }
        .post-meta {
            color: $gray-600;
            font-style: italic;
            border-bottom: 2px solid $gray-200;
            padding-bottom: 5px
        }
        .teaser {
            @extend .lead;
        }
        img {
          width: 100%;
        }
        margin-top: 1.5em;
    }
    .sidebar {
        .profile-picture {
            img {
                width: 100%;
            }
        }
        p.bio {
            @extend .lead;
            strong {
              display: block;
            }
        }
        code {
            background: inherit;
            font-size: 0.7em;
            padding: 0;
        }
    }

    .search {
      background: #eee;
      display: inline-block;
      border-radius: 0.5em;
      float: right;
      margin: 0;

      .search-input {
          @extend .input-group;
          .prepend-icon {
            margin: 0.6rem;
          }
          input {
              background: #eee;
              border: none;
              width: 60%;
          }
          input:focus {
            outline: 0;
          }
      }
    }

    .sections-nav {
        @extend .nav-pills;
        a {
            @extend .nav-link;
            color: $gray-700;
            display: inline;
        }
        a:hover {
            background: $gray-200;
        }
        a.current-section,
        a.current-section:hover {
            background: $primary;  // @extend .active changes blog post teaser to have color: white;
            color: white;
        }
        .heading {
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            color: $gray-500;
            letter-spacing: 0.1em;
        }
        margin-bottom: 2em;
        margin-top: 1em;
    }

    .feeds {
        text-align: right;
        margin: 20px 0;
        > a {
            @extend .btn;
            @extend .btn-sm;
        }
        img {
          width: 3.3rem;
        }
    }

    .dateline-link {
      color: gray;
    }
}
