$mobile-break: 767px;

body.blog {
    .mobile-bio {
      @media screen and (min-width: $mobile-break) {
        display: none;
      }
      @extend .lead;
      strong {
        display: block;
      }
    }
    .post-list {
        .post {
            h2 {
                a {
                    color: $gray-700;
                }
                a:hover {
                    text-decoration: none;
                    color: $gray-800;
                }
            }
            .dateline-link {
              color: $gray-700;
            }
            .white {
              background-color: rgba(255, 255, 255, 0.5);
              padding: 0.6em;
              border-radius: 1em;
            }
            .header-entry {
              margin-left: 0.6em;
            }
            .post-meta {
                font-style: italic;
            }
            .more {
                text-align: right;
            }
            box-shadow: 0 1px 4px rgba(0,0,0,0.3);
            border-radius: 1em;
            margin: 1em;
            background-position: center;
            background-size: cover;
            text-shadow: 1px 1px 12px rgba(255, 255, 255, 0.6);
        }
    }
    .post-detail {
        h1, h2 {
            color: $gray-700;
        }
        .post-meta {
            color: $gray-600;
            font-style: italic;
            border-bottom: 2px solid $gray-200;
            padding-bottom: 5px
        }
        .teaser {
            @extend .lead;
            font-size: 20px;
            color: $gray-700;
        }
        img {
          height: 20em;
          display: block;
          margin: 2em auto;
        }
        figure img {
          width: 100%;
          height: auto;
        }
        figure p {
          font-size: 1.3em;
          color: $gray-700;
          font-weight: 300;
        }
        .dateline-link {
          color: gray;
        }
        margin-top: 0.3em;
        @media screen and (min-width: $mobile-break) {
          margin-top: 1.5em;
        }
    }
    .sidebar {
        .profile-picture {
          img {
            @media screen and (min-width: $mobile-break) {
              width: 100%;
            }
            @media screen and (max-width: $mobile-break) {
              width: 8em;
            }
          }
        }
        p.bio {
          @media screen and (max-width: $mobile-break) {
            display: none;
          }
          @extend .lead;
          strong {
            display: block;
          }
        }
    }

    .search {
      background: #eee;
      display: inline-block;
      border-radius: 0.5em;
      margin: 0 1em;

      .search-input {
          @extend .input-group;
          .prepend-icon {
            margin: 0.6rem;
          }
          input {
              background: #eee;
              border: none;
              width: 60%;
          }
          input:focus {
            outline: 0;
          }
      }
    }

    .sections-nav {
        @extend .nav-pills;
        a {
            @extend .nav-link;
            color: $gray-700;
            display: inline;
        }
        a:hover {
            background: $gray-200;
        }
        a.current-section,
        a.current-section:hover {
            background: $primary;  // @extend .active changes blog post teaser to have color: white;
            color: white;
        }
        .heading {
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            color: $gray-500;
            letter-spacing: 0.1em;
        }
        margin-bottom: 2em;
        margin-top: 1em;
    }

    .feeds {
      text-align: right;
      margin: 1em 0;
      img {
        width: 3.3rem;
      }
      @media screen and (max-width: $mobile-break) {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 1.4em;
        margin-right: 2em;
      }
    }

    .frame {
      position: relative;
    }

    iframe {
      border: none;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }
}
