{% extends "site_base.html" %}

{% load staticfiles %}
{% load pinax_blog_tags %}

{% block body_class %}blog{% endblock %}

{% block body %}
    <div class="row blog-container">
        <div class="col-md-3 sidebar">
            {% block sidebar %}
                <a class="profile-picture" href="{% url "pinax_blog:blog" %}">
                    <img src="{% static "images/prisonlogo.png" %}" />
                </a>
                <p class="bio">
                    <strong>The Timpview Fungeon</strong>
                    Your daily dose of fun, force-fed.
                </p>
                <div class="feeds">
                    <a href="https://www.instagram.com" target="_blank"><img src="{% static "images/instagramlogo.png" %}" /></a>
                </div>
            {% endblock %}
        </div>
        <div class="col-md-8 blog-content">
          {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
